# 19/06/2024

In [ ]:
#variables
blue=123

In [ ]:
print(blue)

123

In [ ]:
a=52
b=48
c=a+b
print(c)

100

In [ ]:
print(a+b)

100

In [ ]:
#keywords
import keyword as kw
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
len(kw.kwlist)

35

# 20/06/2024

In [ ]:
x=int(input())
y=int(input())
z=x+y
print(z)

34
66
100

In [ ]:
a=int(input("Enter the value a: "))
b=int(input("Enter the value b: "))
c=a-b
print("answer:", c)

Enter the value a: 67
Enter the value b: 87
answer: -20

In [ ]:
a=float(int(input("'enter the value a'")))
b=float(int(input("'enter the value b'")))
c=a-b
print("answer:", c)

'enter the value a'8
'enter the value b'3
answer: 5.0

In [ ]:
#operators
#1.arithmetic operator(+,-,*,/,%,//,**)
num1=123
num2=10
num3=num1+num2
print(num3)
num4=num1-num2
print(num4)
num5=num1*num2
print(num5)
num6=num1/num2
print(num6)
num7=num1//num2
print(num7)
num8=num1%num2
print(num8)
num9=num1**num2
print(num9)

133
113
1230
12.3
12
3

In [ ]:
2*2*2*2*2*2*2*2*2*2

1024

In [ ]:
123*123*123*123*123*123*123*123*123*123

792594609605189126649

In [ ]:
123**10

792594609605189126649

In [ ]:
#2.assignment operators(=,+=,-=,*=,/=,%=,//=,**=)
number1=250


number1=130
number2=220
number1+=number2 #number1=number1+number2
                 #number1=130+220
print(number1)

350

In [ ]:
number1=130
number2=220
number1-=number2 #number1=number1-number2
                 #number1=130-220
print(number1)

-90

In [ ]:
number1=130
number2=220
number1/=number2 #number1=number1/number2
                 #number1=130/220
print(number1)

0.5909090909090909

In [ ]:
number1=130
number2=220
number1*=number2 #number1=number1*number2
                 #number1=130*220
print(number1)

28600

In [ ]:
number1=130
number2=220
number1%=number2 #number1=number1%number2
                 #number1=130%220
print(number1)

130

In [ ]:
number1=130
number2=220
number1//=number2 #number1=number1//number2
                 #number1=130//220
print(number1)

0

In [ ]:
number1=13
number2=5
number1**=number2 #number1=number1**number2
                 #number1=130**220
print(number1)

371293

# 21/06/2024

In [ ]:
#comparission opretor(<,>,<=,>=,==,!=)

In [ ]:
num1=123
num2=123
print(num1==num2)

True

In [ ]:
num1=123
num2=123
print(num1!=num2)

False

In [ ]:
num1=123
num2=145
print(num1!=num2)

True

In [ ]:
num1=123
num2=145
print(num1<num2)

True

In [ ]:
num1=123
num2=145
print(num1>num2)

False

In [ ]:
num1=175
num2=145
print(num1>num2)

True

In [ ]:
num1=175
num2=145
print(num1>=num2)

True

In [ ]:
num1=175
num2=175
print(num1>=num2)

True

In [ ]:
num1=175
num2=175
print(num1<=num2)

True

In [ ]:
num1=175
num2=186
print(num1<=num2)

True

In [ ]:
num1=186
num2=186
print(num1<=num2)

True

In [ ]:
num1=187
num2=186
print(num1<=num2)

False

#Logical operators

In [ ]:
#logical (and,or,not)

In [ ]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
if a==b and a<=b:
    print("a is less than or equal to b")

else:
    print("b is less than a")

enter the value of a:24
enter the value of b:24
a is less than or equal to b

In [ ]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
if a<b or a>=b:
    print("a is less than b or grater than or equal to b")

enter the value of a:55
enter the value of b:55
a is less than b or grater than or equal to b

In [ ]:
#not operators
a=5
b=10
c=not(a<b)
print(c)

False

# 24/06/2024

In [ ]:
a=23
if a<10 and a==23:
    print("true")
else:
    print("false")

false

In [ ]:
b=[2,4,6]
if 5 in b:
    print("true")
else:
    print("false")

false

In [ ]:
age=int(input("Enter your age: "))
if age<=12 and age>=0:
    print("you are a child.")
elif age<=19 and age>12:
    print("you are a teenger.")
elif age<=35 and age>19:
    print("you are an adult.")
elif age<65 and age>35:
    print("you are a senior.")
else:
    print("ivalid input")

Enter your age: 77
ivalid input

In [ ]:
operation=input("enter the operation: ")
if operation=="Addition" or operation=="add":
    print("true")
else:
    print("invalid..!")

enter the operation: sub
invalid..!

In [ ]:
while True:
    print("Martin")

In [ ]:
a1=10
while a1<=10 and a1>=0:
    print("abinaya")
    a1=a1+1

abinaya

In [ ]:
while True:
    rose=input("enter the name: ")
    print(rose)

In [ ]:
while True:
    rose=input("enter the name: ")
    if rose:
        print(rose)
    else:
        break

enter the name: rizwan
rizwan
enter the name: nowfel
nowfel
enter the name:

In [ ]:
for i in range(20,3):
    print(i)

In [ ]:
m1=int(input())
for j in range(m1):
    m2=input("enter the num: ")

5
enter the num: martin
enter the num: 1
enter the num: 2
enter the num: 3
enter the num: 4

In [ ]:
for i in [0,1]:
    print(i)

    for j in ["martin","rizwan"]:
        print(j)

        for k in ["jai","abinaya","vignesh"]:
            print(k)

0
martin
jai
abinaya
vignesh
rizwan
jai
abinaya
vignesh
1
martin
jai
abinaya
vignesh
rizwan
jai
abinaya
vignesh

In [ ]:
a=int(input("enter the value of a :"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c :"))
total = a+b+c
print(total)
avg=total/ 3
print(avg)

if a>=35 and b>=35 and c>=35:
    print("pass")

    if avg>=90 and avg<=100:
        print('grade a')
    elif avg>=80 and avg<=89:
        print("grade b")
    elif avg>=70 and avg<=79:
        print("grade c")
    else:
        print("grade d")
else:
    print("fail")

enter the value of a :99
enter the value of b:15
enter the value of c :85
199
66.33333333333333
fail

# 25/06/2024

In [ ]:
#list
a=[1,2,3,4,"jerom","martin","vignesh"]
print(a)
type(a)

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh']

list

In [ ]:
a[4]

'jerom'

In [ ]:
a[0:9]

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh']

In [ ]:
a.append("balaji")
print(a)

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh', 'balaji', 'balaji']

In [ ]:
print(a)

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh', 'balaji', 'balaji']

In [ ]:
a.remove("balaji")

In [ ]:
print(a)

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh', 'balaji']

In [ ]:
len(a)

8

In [ ]:
a[-10]

In [ ]:
b=a.copy()

In [ ]:
print(b)

[1, 2, 3, 4, 'jerom', 'martin', 'vignesh', 'balaji']

In [ ]:
a.clear()

In [ ]:
print(a)

[]

In [ ]:
Randomfor

In [ ]:
#Tuple
riz=("0",)

In [ ]:
print(riz)

('0',)

In [ ]:
type(riz)

tuple

In [ ]:
mar=(1,"riz",['abc',True,False])
mar[2]

['abc', True, False]

In [ ]:
mar[2[1]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-34-39da54cf8b7a>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  mar[2[1]]

TypeError: 'int' object is not subscriptable

In [ ]:
#Dictionary
s={"Name":"Baalaji","Age":27}
print(s)
#keys:value
s.keys()

{'Name': 'Baalaji', 'Age': 27}

dict_keys(['Name', 'Age'])

In [ ]:
s.items()

dict_items([('Name', 'Baalaji'), ('Age', 27)])

In [ ]:
#listofdictionaries
k=[{"Name":"Baalaji","Age":27},{"Name":"Luffy","Age":19}]
k[1]

{'Name': 'Luffy', 'Age': 19}

In [ ]:
k=[{"Name":"Baalaji","Age":27},{"Name":"Luffy","Age":19}]
k[0]

{'Name': 'Baalaji', 'Age': 27}

In [ ]:
print(k)

[{'Name': 'Baalaji', 'Age': 27}, {'Name': 'Luffy', 'Age': 19}]

In [ ]:
for i  in k:
    print(i)

{'Name': 'Baalaji', 'Age': 27}
{'Name': 'Luffy', 'Age': 19}

In [ ]:
for i in k:
    print(i["Age"])

27
19

In [ ]:
#set
a={1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
type(type)

type

In [ ]:
class abhinavaya:
    pass

In [ ]:
print(type(abhinavaya))

<class 'type'>

In [ ]:
#set
a={1,2,3,4,5,3,4,5,6,7,8,9,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [ ]:
a.add(10)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 18}

In [ ]:
a[6]

TypeError: 'set' object is not subscriptable

In [ ]:
a=(1,2,3,4,5)
a=[{"blue","sky","apple",28,26,24,29,17}]

In [ ]:
b= f"the set is {a[0]}"
print(b)

the set is {'apple', 'sky', 17, 'blue', 24, 26, 28, 29}

In [ ]:
print(a)
type(a)

[{'apple', 'sky', 17, 'blue', 24, 26, 28, 29}]

list

In [ ]:
print(a[0])

{'apple', 'sky', 17, 'blue', 24, 26, 28, 29}

In [ ]:
print(type(a[0]))

<class 'set'>

# 26/06/2024

In [ ]:
#defining a function
#No return without arguments
def Name():
    var=546
    var1=332
    var2=var+var1
    print(var2)

In [ ]:
Name()
Name()

878
878

In [ ]:
#return without arguments
def rizz():
    a=56
    b=45
    c=a-b
    return c

In [ ]:
print(rizz())
rizz()

11

11

In [ ]:
def rizz():
    a=56
    b=45
    c=a-b
    d=a/b
    e=a*b
    return c,d,e

In [ ]:
rizz()

(11, 1.2444444444444445, 2520)

In [ ]:
#No return with arguments
def mar(ab,cd):
    g=ab*cd
    print(g)

In [ ]:
mar(3,4)

12

In [ ]:
mar(8,12)

96

In [ ]:
#return with arguments
def jai(abinaya,baalaji,kalyani):
    vig=abinaya*baalaji*kalyani
    return vig

In [ ]:
jai(2,3,4*5)

120

In [ ]:
#Lambda function
c=lambda a,b,c,d: a+b+c+d

In [ ]:
print(c(33,48,23,84))

188

27/06/2024

In [ ]:
def abi(a,b,c):
    total=a+b+c
    avg=total/3
    return total,avg

def martin(a,b,c):
    total=a+b+c
    avg=total/3
    return round(total,3),round(avg,3)

def rizwan(a,b,c):
    List=[a,b,c]
    print("Do you want to add name?")
    answer=input("Yes or No - ")
    while answer=="Yes":
        new=input("Enter the name: ")
        List.append(new)
        if new=="":
            print("The input is empty...!")
            List.remove(new)
    return List

In [ ]:
#Task 1
#when i run the cell i need as enter the data and that value and need value in int, str, float
# select the datatype int/float/str
#if the user use int
print("select the data type : Int/Float/Str")
DT=input("ENTER THE DATA TYPE :")
print(DT)
if DT=="Int" :
    num1=int(input("enter the num1 :"))
    num2=int(input("enter the num2:"))
    num3=int(input("enter the num3 :"))
    print(abi(num1,num2,num3))
elif DT=="Float":
    num1=float(input("enter the num1 :"))
    num2=float(input("enter the num2:"))
    num3=float(input("enter the num3 :"))
    print(martin(num1,num2,num3))
elif DT=="Str":
    name1=input("Enter the name: ")
    name2=input("Enter the name: ")
    name3=input("Enter the name: ")
    print(rizwan(name1,name2,name3))
else:
    print("Invalid input...!")

select the data type : Int/Float/Str
ENTER THE DATA TYPE :hy
hy
Invalid input...!

# 01/07/2024

In [ ]:
#OOPs concept (Object oriented program)
class www():
    def __init__(self,name,age,id,location):
        self.Name=name
        self.Age=age
        self.Id=id
        self.Location=location
    def show(aaa):
        print(aaa.Name,aaa.Age,aaa.Id,aaa.Location,aaa)

In [ ]:
dir(www)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'show']

In [ ]:
ab=www("rizwan",21,246,'chennai')

In [ ]:
ab

In [ ]:
cd=www("raj",23,879,'guindy')

In [ ]:
cd.show()

raj 23 879 guindy <__main__.www object at 0x7c6668595a80>

In [ ]:
ab.name,ab.age

('martin', 21)

In [ ]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
i=43

In [ ]:
print(type(i))

<class 'int'>

# 02/07/2024

In [ ]:
#OOPs Concept
ab=46
print(type(ab))

<class 'int'>

In [ ]:
class Iat:
    name="rose"
    age=21

In [ ]:
Iat()

In [ ]:
Iat.name

'rose'

In [ ]:
dir(Iat)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
nm=Iat()

In [ ]:
nm.name

'rose'

In [ ]:
class room3:
    def __init__(self,name,age,id):
        self.a=name
        self.b=age
        self.c=id

    def show(self):
        print(self.a,self.b,self.c)

    def modify(self,new_name):
        self.a=new_name

In [ ]:
i=room3("rizwan",21,464)

In [ ]:
i.a

'vignesh'

In [ ]:
i.show()

vignesh 21 464

In [ ]:
i.modify("vignesh")

In [ ]:
# inheritence
class pink(room3):
    pass

In [ ]:
kalyani=pink("blue",24,234)
kalyani.show()

blue 24 234

In [ ]:
kalyani.modify("red")
kalyani.show()

red 24 234

# 03/07/2024

In [ ]:
class library:
    def __init__(self,book):
        self.a=book

    def show(self):
        print(self.a)

class customer:
    def __init__(self,book):
        self.cust_books=book

    def add(self):
        self.cust_books.append(sel_book)

    def show(self):
        print(self.cust_books)

In [ ]:
lib=library(["b1","b2","b3","b4"])
martin=customer([])

In [ ]:
print("Welcome to the library")
while True:
    print("select your option")
    print("1-show books list")
    print("2-select the book")
    print("3-customer books")
    print("4-Exit")
    answer=int(input("Enter the option: "))
    if answer==1:
        lib.show()
    elif answer==2:
        select=int(input("How many books do you want? "))
        for i in range(select):
            sel_book=input("Enter the book name: ")
            martin.add()
    elif answer==3:
        martin.show()
    elif answer==4:
        break

Welcome to the library
select your option
1-show books list
2-select the book
3-customer books
4-Exit

KeyboardInterrupt: Interrupted by user

# 04/07/2024

In [ ]:
#Nodes and Linked list
class Node:
    def __init__(self,data_value):
        self.data_val=data_value
        self.next_value=None

class Linked_list:
    def __init__(self):
        self.head_value=None

In [ ]:
n1=Linked_list()
n1.head_value=Node("vicky")

In [ ]:
n2=Node("rizwan")
n3=Node("jerom")
n4=Node("jai")
n5=Node("stark")

In [ ]:
n1.head_value.next_value=n2
n2.next_value=n3
n3.next_value=n4
n4.next_value=n5

In [ ]:
n1.head_value.next_value,n2

(<__main__.Node at 0x79a0250c3c10>, <__main__.Node at 0x79a0250c3c10>)

In [ ]:
n1.head_value.data_val

'vicky'

In [ ]:
n1.head_value.next_value.data_val

'rizwan'

In [ ]:
n2.data_val

'rizwan'

In [ ]:
n3

In [ ]:
n3.next_value.next_value.data_val

'stark'

# 15/07/2024

In [ ]:
# Tree

In [ ]:
class tree:
    def __init__(self,data):
        self.right=None
        self.left=None
        self.main_data=data

    def insert(self,new_data):
        if self.main_data:
            if new_data<self.main_data:
                if self.left==None:
                    self.left=tree(new_data)
                else:
                    self.left.insert(new_data)
            elif new_data>self.main_data:
                if self.right==None:
                    self.right=tree(new_data)
                else:
                    self.right.insert(new_data)

        else:
            self.main_data=new_data

    def show(self):
        if self.left:
            self.left.show()
        print(self.main_data)
        if self.right:
            self.right.show()

In [ ]:
obj=tree(23)
obj.insert(11)
obj.insert(65)
obj.insert(3)
obj.insert(21)
obj.insert(12)
obj.insert(98)
obj.insert(1)
obj.insert(-21)
obj.insert(25)
obj.insert(-65)
obj.insert(-11)
obj.insert(91)
obj.insert(5)

In [ ]:
obj.main_data,obj.right

(23, None)

In [ ]:
obj.show()

-65
-21
-11
1
3
5
11
12
21
23
25
65
91
98

# 16/07/2024

In [ ]:
#Stack

In [ ]:
class stack:
    def __init__(self):
        self.lis=[]

    def insert(self,new_data):
        self.lis.append(new_data)

    def show(self):
        print(self.lis)

    def last_data(self):
        print(self.lis[-1])

    def take(self):
        return self.lis.pop()

    def rev(self):
        return self.lis[::-1]

In [ ]:
chapathi=stack()

In [ ]:
chapathi.insert("vignesh")
chapathi.insert("jai")
chapathi.insert("baalaji")
chapathi.insert("rizzzzzz")
chapathi.insert("martin")
chapathi.insert("jerom")
chapathi.insert("vicky")

In [ ]:
chapathi.show()

['vignesh', 'jai', 'baalaji', 'rizzzzzz', 'martin', 'jerom', 'vicky']

In [ ]:
chapathi.take()

'vicky'

In [ ]:
chapathi.last_data()

jerom

In [ ]:
chapathi.rev()

['jerom', 'martin', 'rizzzzzz', 'baalaji', 'jai', 'vignesh']

In [ ]:
chapathi.lis

[]

In [ ]:
chapathi

In [ ]:
chapathi.insert()

<__main__.stack object at 0x7d0abbe45270>

In [ ]:
a=[2,5,4,76,3453,34,2]

In [ ]:
print(a)

[2, 5, 4, 76, 3453, 34, 2]

In [ ]:
a[::-1]

[2, 34, 3453, 76, 4, 5, 2]

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Wine_Quality_Data.csv")

In [ ]:
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [ ]:
import vega_datasets as vd

In [ ]:
dir(vd.data)

['7zip',
 'airports',
 'annual_precip',
 'anscombe',
 'barley',
 'birdstrikes',
 'budget',
 'budgets',
 'burtin',
 'cars',
 'climate',
 'co2_concentration',
 'countries',
 'crimea',
 'disasters',
 'driving',
 'earthquakes',
 'ffox',
 'flare',
 'flare_dependencies',
 'flights_10k',
 'flights_200k',
 'flights_20k',
 'flights_2k',
 'flights_3m',
 'flights_5k',
 'flights_airport',
 'gapminder',
 'gapminder_health_income',
 'gimp',
 'github',
 'graticule',
 'income',
 'iowa_electricity',
 'iris',
 'jobs',
 'la_riots',
 'londonBoroughs',
 'londonCentroids',
 'londonTubeLines',
 'lookup_groups',
 'lookup_people',
 'miserables',
 'monarchs',
 'movies',
 'normal_2d',
 'obesity',
 'ohlc',
 'points',
 'population',
 'population_engineers_hurricanes',
 'seattle_temps',
 'seattle_weather',
 'sf_temps',
 'sp500',
 'stocks',
 'udistrict',
 'unemployment',
 'unemployment_across_industries',
 'uniform_2d',
 'us_10m',
 'us_employment',
 'us_state_capitals',
 'volcano',
 'weather',
 'weball26',
 'wheat',
 'windvectors',
 'world_110m',
 'zipcodes']

In [ ]:
import pandas as pd

In [ ]:
df=vd.data.stocks()

In [ ]:
df

    symbol       date   price
0     MSFT 2000-01-01   39.81
1     MSFT 2000-02-01   36.35
2     MSFT 2000-03-01   43.22
3     MSFT 2000-04-01   28.37
4     MSFT 2000-05-01   25.45
..     ...        ...     ...
555   AAPL 2009-11-01  199.91
556   AAPL 2009-12-01  210.73
557   AAPL 2010-01-01  192.06
558   AAPL 2010-02-01  204.62
559   AAPL 2010-03-01  223.02

[560 rows x 3 columns]

In [ ]:
df=vd.data.income()

In [ ]:
df

            name region  id    pct    total             group
0        Alabama  south   1  0.102  1837292            <10000
1        Alabama  south   1  0.072  1837292    10000 to 14999
2        Alabama  south   1  0.130  1837292    15000 to 24999
3        Alabama  south   1  0.115  1837292    25000 to 34999
4        Alabama  south   1  0.143  1837292    35000 to 49999
..           ...    ...  ..    ...      ...               ...
515  Puerto Rico  other  72  0.035  1254274    75000 to 99999
516  Puerto Rico  other  72  0.094  1254274    50000 to 74999
517  Puerto Rico  other  72  0.024  1254274  100000 to 149999
518  Puerto Rico  other  72  0.008  1254274  150000 to 199999
519  Puerto Rico  other  72  0.006  1254274           200000+

[520 rows x 6 columns]

In [ ]:
df=vd.data.barley()

In [ ]:
df

        yield           variety  year             site
0    27.00000         Manchuria  1931  University Farm
1    48.86667         Manchuria  1931           Waseca
2    27.43334         Manchuria  1931           Morris
3    39.93333         Manchuria  1931        Crookston
4    32.96667         Manchuria  1931     Grand Rapids
..        ...               ...   ...              ...
115  58.16667  Wisconsin No. 38  1932           Waseca
116  47.16667  Wisconsin No. 38  1932           Morris
117  35.90000  Wisconsin No. 38  1932        Crookston
118  20.66667  Wisconsin No. 38  1932     Grand Rapids
119  29.33333  Wisconsin No. 38  1932           Duluth

[120 rows x 4 columns]

In [ ]:
df=vd.data.birdstrikes()

In [ ]:
df

,Airport__Name,Aircraft__Make_Model,Effect__Amount_of_damage,Flight_Date,Aircraft__Airline_Operator,Origin_State,When__Phase_of_flight,Wildlife__Size,Wildlife__Species,When__Time_of_day,Cost__Other,Cost__Repair,Cost__Total_$,Speed_IAS_in_knots
0,BARKSDALE AIR FORCE BASE ARPT,T-38A,None,1/8/90 0:00,MILITARY,Louisiana,Climb,Large,Turkey vulture,Day,0,0,0,300.0
1,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/9/90 0:00,MILITARY,Louisiana,Approach,Medium,Unknown bird or bat,Night,0,0,0,200.0
2,BARKSDALE AIR FORCE BASE ARPT,B-52,None,1/11/90 0:00,MILITARY,Louisiana,Take-off run,Medium,Unknown bird or bat,Day,0,0,0,130.0
3,NEW ORLEANS INTL,B-737-300,Substantial,1/11/90 0:00,SOUTHWEST AIRLINES,Louisiana,Take-off run,Small,Rock pigeon,Day,0,0,0,140.0
4,BARKSDALE AIR FORCE BASE ARPT,KC-10A,None,1/12/90 0:00,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,LAGUARDIA NY,A-319,None,7/24/02 0:00,US AIRWAYS*,New York,Climb,Small,European starling,Day,0,0,0,NaN
9996,DALLAS/FORT WORTH INTL ARPT,MD-83,None,7/24/02 0:00,AMERICAN AIRLINES,Texas,Descent,Small,Unknown bird - small,Day,0,0,0,250.0
9997,DENVER INTL AIRPORT,MD-82,None,7/24/02 0:00,AMERICAN AIRLINES,Colorado,Take-off run,Small,Horned lark,Day,0,0,0,120.0
9998,BARKSDALE AIR FORCE BASE ARPT,B-52H,None,7/25/02 0:00,MILITARY,Louisiana,Climb,Medium,Unknown bird or bat,Day,0,0,0,110.0
9999,GREATER PITTSBURGH,EMB-145,None,7/25/02 0:00,TRANS STATES AIRLINES,Pennsylvania,Climb,Medium,Red-tailed hawk,Day,0,0,0,140.0

In [ ]:
df=vd.data.population()

In [ ]:
df

     year  age  sex   people
0    1850    0    1  1483789
1    1850    0    2  1450376
2    1850    5    1  1411067
3    1850    5    2  1359668
4    1850   10    1  1260099
..    ...  ...  ...      ...
565  2000   80    2  3221898
566  2000   85    1   970357
567  2000   85    2  1981156
568  2000   90    1   336303
569  2000   90    2  1064581

[570 rows x 4 columns]

In [38]:
df=vd.data.movies()

In [39]:
df

,Title,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,Jun 12 1998,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,Aug 07 1998,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,Aug 28 1998,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,Sep 11 1998,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,Oct 09 1998,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,Oct 31 2008,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,Mar 02 2007,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,Aug 11 2006,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,Oct 28 2005,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,Jul 17 1998,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0